appdirs==1.4.0
#easyAI==0.0.0.4
# on linux mint 18, I installed the commented items to the system
#Cython==0.23
#Kivy==1.9.1
#Kivy-Garden==0.1.4
packaging==16.8
pyparsing==2.1.10
requests==2.13.0
six==1.10.0
